In [53]:
import pandas as pd
import seaborn as sns

In [54]:
df= pd.read_csv('MatricByState18.csv')
df.head()

,Unnamed: 0,Applications by School,Unnamed: 2,In State,Out of State,Men,Women,Unnamed: 7,In State.1,Out of State.1,Men.1,Women.1
0,State,Medical School,Applications^{1},%,%,%,%,Matriculants,%,%,%,%
1,AL,Alabama,"4,581",12.0,88.0,49.6,50.4,186,86.6,13.4,56.5,43.5
2,NaN,South Alabama,"1,604",29.5,70.5,51.1,48.9,74,93.2,6.8,52.7,47.3
3,AR,Arkansas,"2,405",14.2,85.8,51.9,48.1,173,92.5,7.5,53.8,46.2
4,AZ,Arizona,"9,530",8.8,91.2,50.8,49.1,117,73.5,26.5,47.9,52.1

#checking the columns for any mistakes

In [55]:
df.columns

Index(['Unnamed: 0', 'Applications by School', 'Unnamed: 2', 'In State',
       'Out of State', 'Men', 'Women', 'Unnamed: 7', 'In State.1',
       'Out of State.1', 'Men.1', 'Women.1'],
      dtype='object')

#renaming columns

In [56]:
df.rename(columns= {"Unnamed: 0": "States"}, inplace=True)
df.rename(columns={"Unnamed: 2": "# of Applicants"}, inplace=True)

#Checking that the columns are renamed properly

In [57]:
df.columns

Index(['States', 'Applications by School', '# of Applicants', 'In State',
       'Out of State', 'Men', 'Women', 'Unnamed: 7', 'In State.1',
       'Out of State.1', 'Men.1', 'Women.1'],
      dtype='object')

#checking for missing values

In [58]:
df.isnull().sum()

States                    104
Applications by School      1
# of Applicants             0
In State                    0
Out of State                0
Men                         0
Women                       0
Unnamed: 7                  0
In State.1                  0
Out of State.1              0
Men.1                       0
Women.1                     0
dtype: int64

#Dropping the missing values to column "Applications by School"

In [59]:
df1=df.dropna()
df1.isnull().sum()

States                    0
Applications by School    0
# of Applicants           0
In State                  0
Out of State              0
Men                       0
Women                     0
Unnamed: 7                0
In State.1                0
Out of State.1            0
Men.1                     0
Women.1                   0
dtype: int64

#Checking for info within the dataset

In [60]:
df.info

<bound method DataFrame.info of     States Applications by School   # of Applicants In State Out of State  \
0    State         Medical School  Applications^{1}        %            %
1       AL                Alabama             4,581     12.0         88.0
2      NaN          South Alabama             1,604     29.5         70.5
3       AR               Arkansas             2,405     14.2         85.8
4       AZ                Arizona             9,530      8.8         91.2
..     ...                    ...               ...      ...          ...
148     WI           MC Wisconsin             7,611      9.5         90.5
149    NaN              Wisconsin             5,458     12.4         87.6
150     WV       Marshall-Edwards             1,996      9.5         90.5
151    NaN          West Virginia             5,288      4.3         95.7
152  Total                    NaN           849,678     22.7         77.3

      Men Women    Unnamed: 7 In State.1 Out of State.1 Men.1 Women.1
0       %     %  Matriculants          %              %     %       %
1    49.6  50.4           186       86.6           13.4  56.5    43.5
2    51.1  48.9            74       93.2            6.8  52.7    47.3
3    51.9  48.1           173       92.5            7.5  53.8    46.2
4    50.8  49.1           117       73.5           26.5  47.9    52.1
..    ...   ...           ...        ...            ...   ...     ...
148  53.4  46.6           250       55.6           44.4  45.6    54.4
149  54.3  45.7           171       71.9           28.1  59.1    40.9
150  48.4  51.6            79       78.5           21.5  45.6    54.4
151  55.0  45.0           112       66.1           33.9  51.8    48.2
152  50.3  49.7        21,622       60.6           39.4  48.3    51.6

[153 rows x 12 columns]>

In [61]:
df1.groupby('# of Applicants')['# of Applicants'].agg("count")

# of Applicants
1,063               1
1,065               1
1,170               1
1,388               1
1,644               1
1,996               1
13,529              1
14,004              1
2,050               1
2,251               1
2,281               1
2,405               1
2,419               1
2,660               1
2,671               1
3,107               1
3,155               1
3,379               1
3,871               1
4,227               1
4,294               1
4,581               1
4,873               1
446                 1
5,590               1
5,607               1
6,245               1
6,322               1
6,522               1
6,645               1
6,690               1
6,956               1
6,988               1
7,178               1
7,199               1
7,209               1
7,347               1
7,611               1
7,618               1
8,141               1
824                 1
9,021               1
9,024               1
9,132               1
9,440               1
9,530               1
9,889               1
Applications^{1}    1
Name: # of Applicants, dtype: int64

In [62]:
df['# of Applicants'].unique

<bound method Series.unique of 0      Applications^{1}
1                 4,581
2                 1,604
3                 2,405
4                 9,530
             ...
148               7,611
149               5,458
150               1,996
151               5,288
152             849,678
Name: # of Applicants, Length: 153, dtype: object>

#checking for duplicates in the dataset

In [67]:
df1.duplicated().sum()

0

#The dataset looks satisfactory to me. No duplicates, and missing values removed. Now saving the tidy dataset to csv format

In [70]:
df1.to_csv("Cleaned_MatricByState18.csv")

So far, I feel very behind on this project since most of my time had to be spent catching up and understanding earlier concepts in the course. BUT I feel very hopeful. The more that I play around with the dataset as I'm learning how to tidy data, the more that the lessons are coming together for me.

This is just one of the many datasets that I must prepare for my final project. Right now, I see that tidying the data is going to be the most time-consuming part. And the graphs will be pretty simple. With that said, that's why I wanted to make sure that I show what I've learned and apply it to the earlier part of my work since my audience truly wants something simple without all the bells and whistles. I fear that my project will not look as elaborate as the rest of my classmates, although I will try to make it as appealing as possible. I have a long way to go before I'm done, so I'm embracing my adaptability as I'm sure this will be something that will come up in real-life situations in my career, where I have a short amount of time to make something amazing and presentable.